@import 'tailwindcss';

@layer base {
  body,
  html,
  #root {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}

/* 终端深色滚动条 */
.terminal-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.terminal-scrollbar::-webkit-scrollbar-track {
  @apply bg-slate-900;
}
.terminal-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full border-2 border-slate-900 bg-slate-700;
}
.terminal-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}

/* 终端浅色滚动条 */
.light-terminal-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.light-terminal-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}
.light-terminal-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full border-2 border-transparent bg-slate-200;
}
.light-terminal-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-300;
}
